---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <title>Interactive Card Details Form</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body>
    <h1>Interactive Card Details Form</h1>
  </body>
</html>
