---
import CardSection from "../components/CardSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <title>Interactive Card Details Form</title>
    <link rel="icon" type="image/svg+xml" href="/interactive-card-details-form/favicon.png" />

    <style>
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 300;
        src: local(""), url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-300.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-300.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 400;
        src: local(""),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-regular.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-regular.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 500;
        src: local(""), url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-500.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-500.woff") format("woff");
      }
    </style>
  </head>

  <body class="min-h-screen font-space-grotesk">
    <main class="grid grid-rows-[15rem_auto] lg:min-h-screen lg:grid-cols-[30rem_auto] lg:grid-rows-none">
      <CardSection />
    </main>
  </body>
</html>
