---
import Form from "../components/Form.astro";
import Finish from "../components/Finish.astro";
import Button from "../components/Button.astro";
import CardSection from "../components/CardSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#600594" />

    <meta name="generator" content={Astro.generator} />

    <title>Interactive Card Details Form</title>
    <meta name="description" content="Challenge #7 by frontendmentor.io" />

    <link rel="icon" type="image/svg+xml" href="/interactive-card-details-form/favicon.png" />
    <link rel="apple-touch-icon" href="/interactive-card-details-form/favicon.png" />

    <meta name="twitter:image:src" content="https://eriandev.github.io/interactive-card-details-form/preview.png" />
    <meta name="twitter:creator" content="@eriandev" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Interactive Card Details Form" />
    <meta name="twitter:description" content="Challenge #7 by frontendmentor.io" />

    <meta property="og:image" content="https://eriandev.github.io/interactive-card-details-form/preview.png" />
    <meta property="og:image:alt" content="Interactive Card Details Form" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:site_name" content="Erick Vargas" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="Interactive Card Details Form" />
    <meta property="og:url" content="https://eriandev.github.io/interactive-card-details-form/" />
    <meta property="og:description" content="Challenge #7 by frontendmentor.io" />

    <style>
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 300;
        src: local(""), url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-300.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-300.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 400;
        src: local(""),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-regular.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-regular.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 500;
        src: local(""), url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-500.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-500.woff") format("woff");
      }
    </style>

    <script src="../scripts/declareRefs.js"></script>
    <script src="../scripts/updateCards.js"></script>
    <script src="../scripts/validateInputs.js"></script>
    <script src="../scripts/formHandler.js"></script>
  </head>

  <body class="min-h-screen font-space-grotesk">
    <main class="grid grid-rows-[15rem_auto] pb-11 lg:min-h-screen lg:grid-cols-[30rem_auto] lg:grid-rows-none lg:pb-0">
      <CardSection />

      <section class="mx-auto flex max-w-xl flex-col gap-7 self-center px-4 pt-28 lg:gap-10 lg:pt-0 xl:pl-48 2xl:pl-0">
        <Form />
        <Finish />
        <Button id="btn-action">Confirm</Button>
      </section>
    </main>
  </body>
</html>
