---
import CardSection from "../components/CardSection.astro";
import InputForm from "../components/InputForm.astro";
import Label from "../components/Label.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <title>Interactive Card Details Form</title>
    <link rel="icon" type="image/svg+xml" href="/interactive-card-details-form/favicon.png" />

    <style>
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 300;
        src: local(""), url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-300.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-300.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 400;
        src: local(""),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-regular.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-regular.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 500;
        src: local(""), url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-500.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-500.woff") format("woff");
      }
    </style>
  </head>

  <body class="min-h-screen font-space-grotesk">
    <main class="grid grid-rows-[15rem_auto] lg:min-h-screen lg:grid-cols-[30rem_auto] lg:grid-rows-none">
      <CardSection />

      <section class="mx-auto flex max-w-xl flex-col gap-6 self-center px-4 pt-28 lg:pt-0 xl:pl-48">
        <InputForm id="input-name" label="Cardholder Name" placeholder="e.g. Jane Appleseed" />
        <InputForm id="input-num" label="Card Number" placeholder="e.g. 1234 5678 9123 0000" />
        <div class="grid grid-cols-[152px_auto] gap-3">
          <div>
            <Label for="input-mm">Exp. Date (mm/yy)</Label>
            <div class="grid grid-cols-2 gap-2">
              <InputForm id="input-mm" maxlength="2" placeholder="MM" />
              <InputForm id="input-yy" maxlength="2" placeholder="YY" />
            </div>
          </div>

          <InputForm id="input-cvc" label="CVC" placeholder="e.g. 123" />
        </div>
      </section>
    </main>
  </body>
</html>
