---
import Form from "../components/Form.astro";
import Button from "../components/Button.astro";
import CardSection from "../components/CardSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <title>Interactive Card Details Form</title>
    <link rel="icon" type="image/svg+xml" href="/interactive-card-details-form/favicon.png" />

    <style>
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 300;
        src: local(""), url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-300.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-300.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 400;
        src: local(""),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-regular.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-regular.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 500;
        src: local(""), url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-500.woff2") format("woff2"),
          url("/interactive-card-details-form/fonts/space-grotesk-v15-latin-500.woff") format("woff");
      }
    </style>

    <script src="../scripts/declareRefs.js"></script>
    <script src="../scripts/updateCards.js"></script>
    <script src="../scripts/validateInputs.js"></script>
    <script src="../scripts/formHandler.js"></script>
  </head>

  <body class="min-h-screen font-space-grotesk">
    <main class="grid grid-rows-[15rem_auto] pb-11 lg:min-h-screen lg:grid-cols-[30rem_auto] lg:grid-rows-none lg:pb-0">
      <CardSection />

      <section class="mx-auto flex max-w-xl flex-col gap-7 self-center px-4 pt-28 lg:gap-10 lg:pt-0 xl:pl-48">
        <Form />
        <Button id="btn-action">Confirm</Button>
      </section>
    </main>
  </body>
</html>
