---
import CreditCardBack from "../components/CreditCardBack.astro";
import CreditCardFront from "../components/CreditCardFront.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <title>Interactive Card Details Form</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <style>
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 300;
        src: local(""), url("/fonts/space-grotesk-v15-latin-300.woff2") format("woff2"),
          url("/fonts/space-grotesk-v15-latin-300.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 400;
        src: local(""), url("/fonts/space-grotesk-v15-latin-regular.woff2") format("woff2"),
          url("/fonts/space-grotesk-v15-latin-regular.woff") format("woff");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 500;
        src: local(""), url("/fonts/space-grotesk-v15-latin-500.woff2") format("woff2"),
          url("/fonts/space-grotesk-v15-latin-500.woff") format("woff");
      }
    </style>
  </head>

  <body class="font-space-grotesk">
    <section class="px-4 py-8">
      <CreditCardFront />
      <br /><br />
      <CreditCardBack />
    </section>
  </body>
</html>
