---
import Label from "./Label.astro";
import InputForm from "./InputForm.astro";
---

<form class="flex flex-col gap-6">
  <InputForm
    id="input-name"
    maxlength="20"
    autocomplete="off"
    label="Cardholder Name"
    placeholder="e.g. Jane Appleseed"
    onkeypress="return isMaxLength(20,event)"
  />
  <InputForm
    id="input-num"
    maxlength="16"
    autocomplete="off"
    label="Card Number"
    placeholder="e.g. 1234 5678 9123 0000"
    onkeypress="return isOnlyNumbers(event) && isMaxLength(16,event)"
  />
  <div class="grid grid-cols-[152px_auto] gap-3">
    <div>
      <Label for="input-mm">Exp. Date (mm/yy)</Label>
      <div class="grid grid-cols-2 gap-2">
        <InputForm
          id="input-mm"
          maxlength="2"
          placeholder="MM"
          autocomplete="off"
          onkeypress="return isOnlyNumbers(event) && isMaxLength(2,event)"
        />
        <InputForm
          id="input-yy"
          maxlength="2"
          placeholder="YY"
          autocomplete="off"
          onkeypress="return isOnlyNumbers(event) && isMaxLength(2,event)"
        />
      </div>
    </div>

    <InputForm
      id="input-cvc"
      label="CVC"
      maxlength="3"
      autocomplete="off"
      placeholder="e.g. 123"
      onkeypress="return isOnlyNumbers(event) && isMaxLength(3,event)"
    />
  </div>
</form>
