---
import Label from "./Label.astro";
import InputForm from "./InputForm.astro";
import ErrorMessage from "./ErrorMessage.astro";
---

<form class="flex flex-col gap-6">
  <InputForm
    id="input-name"
    name="name"
    maxlength="20"
    autocomplete="off"
    label="Cardholder Name"
    placeholder="e.g. Jane Appleseed"
    onkeypress="return isMaxLength(20,event)"
    withError
    required
  />
  <InputForm
    id="input-num"
    name="num"
    maxlength="16"
    autocomplete="off"
    label="Card Number"
    placeholder="e.g. 1234 5678 9123 0000"
    onkeypress="return isOnlyNumbers(event) && isMaxLength(16,event)"
    withError
    required
  />
  <div class="grid grid-cols-[152px_auto] gap-3">
    <div>
      <Label for="input-mm">Exp. Date (mm/yy)</Label>
      <div class="grid grid-cols-2 gap-2">
        <InputForm
          id="input-mm"
          name="mm"
          maxlength="2"
          placeholder="MM"
          autocomplete="off"
          onkeypress="return isOnlyNumbers(event) && isMaxLength(2,event)"
          required
        />
        <InputForm
          id="input-yy"
          name="yy"
          maxlength="2"
          placeholder="YY"
          autocomplete="off"
          onkeypress="return isOnlyNumbers(event) && isMaxLength(2,event)"
          required
        />
      </div>
      <ErrorMessage id="input-mm-yy" />
    </div>

    <InputForm
      id="input-cvc"
      name="cvc"
      label="CVC"
      maxlength="3"
      type="password"
      autocomplete="off"
      placeholder="e.g. 123"
      onkeypress="return isOnlyNumbers(event) && isMaxLength(3,event)"
      withError
      required
    />
  </div>
</form>
